**/__pycache__
**/__pycache__/**
*.pyc
**/.ipynb_checkpoints/
**/.ipynb_checkpoints/**
**/.vscode
**/.vscode/**
**.mp4
**/data/WIDER_FACE_rect/images/**
**/data/WIDER_val/**
**/data/widerface/**
**/tasks/task1/results/**
**/tasks/task1/widerface**
**/tf2/results/**
**/tf2/widerface**
mAP/output/
